.edit-align {
  text-align: -webkit-center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-cancel-my-account {
  margin-top: 300px;
}

.buttom-confirm-edit {
  padding: 10px;
  color: white;
  background: #527156;
  &:hover {
    color: white;
    background: #527156;
  }
}
