* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.marginb-50px {
  margin-bottom: 50px;
}

body {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  background: white;
}

.carousel {
  cursor: grab;
}

.product-wrapper {
  place-content: center;
}

.img-sales {
  text-align: center;
  margin: 30px 0 30px 0;
}

.text-c {
  text-align: center;
  margin: 30px;
}

.product-price {
  height: 150px;
  width: 267px;
  color: white;
}

.highlight-session {
  display: inline-table;
  padding: 0px;
}

.text-c-products-highlight {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 5px;
  color: black;
}

.price-products-highlight {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #527156;
  font-weight: bold;
}

.a-btn-view-more {
  text-align: -webkit-center;
}

.jf-right {
  justify-content: right;
  display: flex;
  margin-top: -220px;
}

.col-6 {
  padding: 0px 20px 0px 0;
  width: 60%;
}

.h-prayer {
  text-align: right;
}

.p-prayer {
  font-size: 13px;
  text-align: right;
}

.line-green {
  margin-top: -40px;
}

.img-sales img {
  width: 80%;
}

.margin-bottom-50px {
  margin-bottom: 50px;
}

.carousel-bright {
  display: inline-block;
}

.h1-carousel-img-1 {
  position: absolute;
  margin: 0px;
  bottom: 80%;
  right: 70%;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 25px black;
}

.h1-carousel-img-2 {
  position: absolute;
  margin: 0px;
  bottom: 50%;
  right: 50%;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 25px black;
}

.h1-carousel-img-3 {
  position: absolute;
  margin: 0px;
  top: 70%;
  left: 40%;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 25px black;
}

.h1-carousel-img-4 {
  position: absolute;
  margin: 0px;
  bottom: 70%;
  right: 50%;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 25px black;
}
