.img-container{
  height: 400px;
  width: 266px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 25px;
}

.img-container img{
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.img-container:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.paginate {
  display: flex;
  justify-content: center;
}

.page-item {
  color: #527156;
}

.pagination {
  border: solid #527156 1px;
}

a.page-link {
  background: #527156;
  border-color: #527156;
}

.page-item:first-child .page-link {
  background: white;
  border-color: #527156;
  color: #527156;
  font-weight: bold;
}

.page-item:not(:first-child) .page-link {
  background-color: white;
  border-color: #527156;
  color: #527156;
  font-weight: bold;
}

.search-index {
  margin-top: 50px;
  justify-content: center;
}
