* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}
.spacing-top {
  margin-top: 50px;
  margin-left: 0px;
}

.show-product-name {
  font-size: 40px;
  color: black;
}

.show-product-price {
  font-size: 35px;
  color: #527156;
}

hr {
  margin-top: 100px;
}

.description-h2 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 25px;
}
.show-product-description {
  font-size: 13px;
}

.img-show{
  height: 700px;
  width: 450px;
  overflow: hidden;
  cursor: grab;
}

.img-show img{
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  object-fit: cover;
}

.img-show:hover img{
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.buttons-show {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
