<div class="container">
  <h1 class="text-center margin-top-50px">Volte sempre!</h1>

  <div class="text-center">
    <h3 class="margin-top-50px">Seu produto foi pago, e está em produção!</h3>
    <div class="product-image-pay margin-top-10px">
        <%= image_tag @order.product.photo, height: '300px' %>
      </div>
    <P class="margin-top-10px"><strong><%= @order.product.name %></strong></P>
    <p><strong>PREÇO</strong> <%= humanized_money_with_symbol @order.amount, class:"price-orders-show"%></p>
  </div>
  <br>
  <h2 class="margin-top-100px">Escute a nossa playlist no Spotify</h2>
  <div class="spotify-content">
    <div class="row">
      <div class="col-4">
        <div class="photo-spotify-maria">
          <img src="https://cdn.discordapp.com/attachments/636310644630618142/1097639051428900874/png_20220811_022426_0000.png" height="250px", class="img-shadow">
        </div>
      </div>
      <div class="col">
        <div class="content-spotify">
          <p class="playlist">Playlist</p>
          <h1 class="name-playlist">maria do mato</h1>
          <a href="https://open.spotify.com/playlist/5EYrxcpEBUjlcDUJexcf1P?si=9Nmj4f-zT6-RWXmVt_NJTQ&utm_source=copy-link&nd=1" target="_blank", class="redirect-spotify">
            <div class="button-spotify-redirect">
              <i class="fa-solid fa-circle-play" style="color: #ffffff;"></i>
              <p class="margin-0px">clique aqui para ouvir a playlist</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
