.btn-view-more {
  width: 250px;
  border: 1px solid #242424;
  color: #242424;
  display: block;
  border-left: none;
  border-right: none;
  padding: 20px;
  background: white;
  margin-bottom: 50px;
  text-decoration: none;
  &:hover {
    border: 1px solid black;
    color: black;
    border-left: none;
    border-right: none;
  }
}

.button-card {
  background-color: #527156;
  opacity: 0.7;
  position: absolute;
  margin-top: -40px;
  height: 40px;
  width: 266px;
  font-weight: bold;
  color: white;
  border: 0px;
  &:hover {
    opacity: 1;
  }
}

.buttons-buy-show {
padding: 10px;
width: 250px;
border: 0;
color: white;
font-weight: 500;
margin: 50px 10px 0px 0px;
background: #527156;
&:hover {
  background: #4a634d;
  color: white;
}
}

.button-confirm {
  padding: 10px;
  width: 250px;
  border: 0;
  color: white;
  font-weight: 500;
  background: #527156;
  margin-top: 10px;
  &:hover {
    background: #4d6650;
    color: white;
  }
}
