.btn-view-more {
  width: 250px;
  border: 1px solid rgb(36, 36, 36);
  color: rgb(36, 36, 36);
  border-left: none;
  border-right: none;
  height: 50px;
  background: whitesmoke;
  margin-bottom: 50px;
  &:hover {
    border: 1px solid black;
    color: black;
    border-left: none;
    border-right: none;
  }
}
