.btn-view-more {
  width: 250px;
  border: 1px solid #242424;
  color: #242424;
  display: block;
  border-left: none;
  border-right: none;
  padding: 15px;
  background: white;
  margin-bottom: 50px;
  text-decoration: none;
  &:hover {
    border: 1px solid black;
    color: black;
    border-left: none;
    border-right: none;
  }
}

.button-card {
  background-color: #527156;
  opacity: 0.7;
  position: absolute;
  margin-top: -40px;
  height: 40px;
  width: 266px;
  font-weight: bold;
  color: white;
  border: 0px;
  &:hover {
    opacity: 1;
  }
}

.buttons-buy-show {
  padding: 10px;
  width: 250px;
  border: 0;
  color: white;
  font-weight: 500;
  margin: 50px 0px 0px 0px;
  background: #527156;
  &:hover {
    background: #4f6652;
    color: white;
  }
}

.button-confirm {
  padding: 10px;
  width: 250px;
  border: 0;
  color: white;
  font-weight: 500;
  margin: 50px 0px 0px 0px;
  background: #527156;
  text-decoration: none;
  &:hover {
    background: #4f6652;
    color: white;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

.align-button-edit {
  margin: 70px;
}

.button-delete {
  padding: 10px;
  width: 250px;
  border: 0;
  color: white;
  font-weight: 500;
  margin: 50px 10px 0px 0px;
  background: #e42a2a;
  text-decoration: none;
  &:hover {
    background: #b92020;
    color: white;
  }
}

.whatsapp {
  padding-right: 3px;
  padding-left: 3px;
  color: white;
  background: rgb(11, 202, 11);
  border-radius: 50%;
  font-size: 45px;
  box-shadow: gray 0px 0px 7px;
  margin-right: 15px;
  position: fixed;
  right: 0%;
  bottom: 9%;
  z-index: 10;
  cursor: pointer;
}

.fa-instagram {
  font-size: 40px;
}
