.footer {
  margin-top: auto;
  height: 50px;
  width: 100%;
  background: #586450;
}

.h3-footer {
  color: white;
  margin: 0px;
  cursor: default;
}

.content-footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
