.navbar-lewagon {
  justify-content: space-between;
  background: #527156;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-navbar {
  color: white;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.logo-name {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  margin-left: 50px;
  &:hover {
    color: white;
  }
}

.logo-name h3 {
  margin: 0;
}

.fa-user {
  font-size: 20px;
  margin-right: 50px;
  cursor: pointer;
}

.fa-bars {
  margin-left: 50px;
}

.nav-link {
  color: white;
  margin-right: 50px;
}
