.navbar-lewagon {
  justify-content: space-between;
  background: #527156;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-navbar {
  color: white;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
