<body class="body-new">
  <div class="container align-t-center">
    <div class="new-product">
      <h1 class="h1-align-new">Cadastrar um novo produto</h1>

      <%= render '/shared/form', product: @product%>
    </div>
  </div>
</div>
